*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}



.center{
   display: flex;
   flex-wrap: wrap;
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 2%;
}

html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    height: 200px;
    padding: 20px 0;
    
}

.logo{
    width: 50%;
}
.img{
    width: 100px;
}


.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

section.sobre{
    height: 100%;
    position: relative;
}

.extras{
    position: absolute;
    bottom: -450px;
    right: -500px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color:#017043;
}



.extras img{
   width: 400px;
   height: 500px;
   justify-content:right;
   align-items: right;
}

.social-midia{
    width: 80px;
    height: auto;
    position: fixed;
    bottom: 200px;
    right: -30px;
    
   
   
}

.social-midia img{
    width: 50%;
    height: auto;
   
}


.texto-sobre{
    margin-top: 100px;
}

.texto-sobre h1{
    font-size: 50px;
    margin-top: -200px;
 
}


.texto-sobre p {
    bottom: 100%;
    margin: 20px 0 ;
    color:black;
    font-size: 20px;
    font-weight: bold;
    max-width: 1000px;
    width: 500px;
  
}

.texto-sobre button{
    border: 0;
    background-color: #017043;
    color: white;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    cursor: pointer;
}